<% if params[:user_id] %>
	<h1>Your Auctions</h1>
	<h3><%= link_to "Auction New Item", new_user_auction_path(@user) %></h3>
<% else %>
	<h1>All Auctions</h1>
<% end %>

<% if @auctions %>
	<ol>
		<% @auctions.each do |auction| %>
			<% unless auction.user == @user %>
				<li><%= link_to auction.item.name, auction_path(auction) %></li>
			<% end %>
		<% end %>
	</ol>
<% end %>



