<% if @user %>
	<h1>My Items</h1>
	<h3><%= link_to "Auction New Item", new_user_item_path(@user) %></h3>
<% else %>
	<h1>All Items</h1>
<% end %>

<% @items.each.with_index(1) do |item, index| %>
	<h3><%= index %>. <%= link_to item.name, item_path(item) %></h3>
<% end %>

